# Server
NODE_PORT=7000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb://localhost:27017/currency_exchange_db

# JWT Configuration
JWT_SECRET=super_secret_key_for_test
JWT_EXPIRATION_TIME=900000

# Email (para bienvenida)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=tu_email@gmail.com
EMAIL_PASSWORD=tu_app_password
EMAIL_FROM="Casa de Cambio Digital"

# tasa de cambio:
RATES_URL=https://api.test.cambioseguro.com/api/v1.1/config/rates